/* Start Variables */
:root {
  --first-color: #8a1e86;
  --second-color: #fcb43a;
  --third-color: #212529;
  /* --transparent-main-color: rgb(2 123 236 / 70%); */
  
  /* --third-color: #f60100; */
  /* --section-padding: 100px; */
}
/* End Variables */

/* Start Global Rules */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  color: var(--third-color);
}

ul {
  list-style: none;
}
/* End Global Rules */
/* Start Navbar */
nav {
  border-bottom: solid 1px var(--third-color);
}

nav .navbar-btn {
  background-color: var(--first-color);
  color: #eee;
  cursor: pointer;
}

nav .navbar-logo {
  width: 120px;
  margin-top: 5px;
}

nav .navbar-btn,
nav .other-links {
  font-size: 18px;
  margin: 10px;
}

nav .other-links {
  font-weight: 400;
}

nav .other-links:hover {
  color: var(--first-color) !important;
}

nav .navbar-btn {
  font-weight: 600;
  border-radius: 8px;
}

@media screen and (max-width: 992px) {
  nav .navbar-btn,
  nav .other-links {
    margin: 0;
  }

  nav .navbar-btn {
    margin-top: 10px !important;
  }
}
/* End Navbar */
/* Start Best Deals Section */
.best-deals .main {
  display: flex;
  margin-top: 50px;
}

@media (max-width:991px) {
  .best-deals .main {
    display: flex;
    flex-direction: column-reverse;
  }

  .best-deals .main .content h1 {
    margin-top: 30px;
    font-size: 30px;
  }

  .best-deals .main .content p {
    font-size: 15px;
    color: #777;
    line-height: 1.8;
    margin-top: 25px;
  }
}

.best-deals .main .content h1 {
  margin-top: 50px;
  font-weight: 650;
  line-height: 1.3;
}

.best-deals .main .content span {
  background: -webkit-linear-gradient(60deg, var(--first-color), var(--second-color));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.best-deals .main .content p {
  font-size: 17px;
  color: #777;
  line-height: 1.8;
  margin-top: 25px;
}

.best-deals .main .content .icons img {
  margin-top: 25px;
  cursor: pointer;
}

.best-deals .main .content .icons img:last-child {
  margin-left: 10px;
}

.best-deals .main .content .descover-btn {
  padding: 15px 20px;
  color: #eee;
  cursor: pointer;
  border: none;
  background: linear-gradient(90deg, var(--first-color), var(--second-color)); 
  border-radius: 25px;
  font-size: 19px;
  margin-top: 150px;
}

@media (max-width:991px) {
  .best-deals .main .content .descover-btn {
    font-size: 13px;
    padding: 5px 10px;
    margin-top: 75px;
  }
}

.best-deals .main .main-img {
  width: 80%;
}
/* End Best Deals Section */
/* Start Purchase Section */
.purchase .content .heading {
  margin-top: 25px;
}

.purchase .content .heading h1 {
  font-weight: 650;
  line-height: 1.3;
}

.purchase .content .heading p {
  font-size: 17px;
  font-weight: 400;
  color: #333;
  line-height: 1.8;
  margin-top: 25px;
}

.purchase .content .main-purchase {
  display: flex;
}

.purchase .content .main-purchase {
  display: flex;
  flex-wrap: wrap;
  margin-top: 50px;
}

.purchase .content .main-purchase .offers {
  display: flex;
  flex-wrap: wrap;
  margin-top: 50px;
}

@media screen and (max-width: 991px) {
  .purchase .content .main-purchase {
    display: flex;
    flex-direction: column-reverse;
  }

  .purchase .content .main-purchase .congrats img {
    margin-bottom: 50px;
  }

  .purchase .content .main-purchase .offers .ad p {
    color: #777;
    font-size: 18px;
    line-height: 1.7;
    width: 101%;
  }

  .purchase .content .main-purchase .offers {
    text-align: center;
  }
}

.purchase .content .main-purchase .offers .ad {
  margin-bottom: 25px;
}

.purchase .content .main-purchase .offers .ad .shopping-icon {
  width: 61px;
}

.purchase .content .main-purchase .offers .ad h4 {
  margin-top: 20px;
  margin-bottom: 20px;
}

.purchase .content .main-purchase .offers .ad p {
  color: #777;
  font-size: 18px;
  line-height: 1.7;
}

@media screen and (min-width: 992px) {
  .purchase .content .main-purchase .offers .ad p {
    width: 90%;
  }
}

.purchase .content .main-purchase .main-purchase img {
  width: 100%;
}

.purchase .content .main-purchase .congrats img {
  width: 100%;
}

.works-btn {
  display: flex;
  justify-content: center;
}

.purchase .works-btn .btn {
  background: -webkit-linear-gradient(60deg, var(--first-color), var(--second-color));
  border: none;
  border-radius: 20px;
  font-size: 20px;
  cursor: pointer;
  padding: 10px 20px;
  margin-top: 75px;
  margin-bottom: 20px;
}

@media screen and (max-width: 991px) {
  .purchase .works-btn .btn {
    margin-top: 30px;
  }
}
/* End Purchase Section */