/* Start Variables */
:root {
  --first-color: #8a1e86;
  --second-color: #fcb43a;
  --third-color: #212529;
}
/* End Variables */

/* Start Global Rules */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  cursor: default;
}

body {
  font-family: "Poppins", sans-serif;
  color: var(--third-color);
}

ul {
  list-style: none;
}
/* End Global Rules */
/* Start Navbar */
nav {
  border-bottom: solid 1px var(--third-color);
}

nav .navbar-btn {
  background-color: var(--first-color);
  color: #eee;
  cursor: pointer;
}

nav .navbar-logo {
  width: 120px;
  margin-top: 5px;
}

nav .navbar-btn,
nav .other-links {
  font-size: 18px;
  margin: 10px;
}

nav .other-links {
  font-weight: 400;
}

nav .other-links:hover {
  color: var(--first-color) !important;
}

nav .navbar-btn {
  font-weight: 600;
  border-radius: 8px;
}

@media screen and (max-width: 992px) {
  nav .navbar-btn,
  nav .other-links {
    margin: 0;
  }

  nav .navbar-btn {
    margin-top: 10px !important;
  }
}
/* End Navbar */
/* Start Best Deals Section */
.best-deals .main {
  display: flex;
  margin-top: 50px;
}

@media (max-width:991px) {
  .best-deals .main {
    display: flex;
    flex-direction: column-reverse;
  }

  .best-deals .main .content h1 {
    margin-top: 30px;
    font-size: 30px;
  }

  .best-deals .main .content p {
    font-size: 15px;
    color: #777;
    line-height: 1.8;
    margin-top: 25px;
  }
}

.best-deals .main .content h1 {
  margin-top: 50px;
  font-weight: 650;
  line-height: 1.3;
}

.best-deals .main .content span {
  background: -webkit-linear-gradient(60deg, var(--first-color), var(--second-color));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.best-deals .main .content p {
  font-size: 17px;
  color: #777;
  line-height: 1.8;
  margin-top: 25px;
}

.best-deals .main .content .icons img {
  margin-top: 25px;
  cursor: pointer;
}

.best-deals .main .content .icons img:last-child {
  margin-left: 10px;
}

.best-deals .main .content .descover-btn {
  padding: 15px 20px;
  color: #eee;
  cursor: pointer;
  border: none;
  background: linear-gradient(90deg, var(--first-color), var(--second-color)); 
  border-radius: 25px;
  font-size: 19px;
  margin-top: 150px;
}

@media (max-width:991px) {
  .best-deals .main .content .descover-btn {
    font-size: 13px;
    padding: 5px 10px;
    margin-top: 75px;
  }
}

.best-deals .main .main-img {
  width: 80%;
}
/* End Best Deals Section */
/* Start Purchase Section */
.purchase .content .heading {
  margin-top: 25px;
}

.purchase .content .heading h1 {
  font-weight: 650;
  line-height: 1.3;
}

.purchase .content .heading p {
  font-size: 17px;
  font-weight: 400;
  color: #333;
  line-height: 1.8;
  margin-top: 25px;
}

.purchase .content .main-purchase {
  display: flex;
}

.purchase .content .main-purchase {
  display: flex;
  flex-wrap: wrap;
  margin-top: 50px;
}

.purchase .content .main-purchase .offers {
  display: flex;
  flex-wrap: wrap;
  margin-top: 50px;
}

@media screen and (max-width: 991px) {
  .purchase .content .main-purchase {
    display: flex;
    flex-direction: column-reverse;
  }

  .purchase .content .main-purchase .congrats img {
    margin-bottom: 50px;
  }

  .purchase .content .main-purchase .offers .ad p {
    color: #777;
    font-size: 18px;
    line-height: 1.7;
    width: 101%;
  }

  .purchase .content .main-purchase .offers {
    text-align: center;
  }
}

.purchase .content .main-purchase .offers .ad {
  margin-bottom: 25px;
}

.purchase .content .main-purchase .offers .ad .shopping-icon {
  width: 61px;
}

.purchase .content .main-purchase .offers .ad h4 {
  margin-top: 20px;
  margin-bottom: 20px;
}

.purchase .content .main-purchase .offers .ad p {
  color: #777;
  font-size: 18px;
  line-height: 1.7;
}

@media screen and (min-width: 992px) {
  .purchase .content .main-purchase .offers .ad p {
    width: 90%;
  }
}

.purchase .content .main-purchase .main-purchase img {
  width: 100%;
}

.purchase .content .main-purchase .congrats img {
  width: 100%;
}

.works-btn {
  display: flex;
  justify-content: center;
}

.purchase .works-btn .btn {
  background: -webkit-linear-gradient(60deg, var(--first-color), var(--second-color));
  border: none;
  border-radius: 20px;
  font-size: 20px;
  cursor: pointer;
  padding: 10px 20px;
  margin-top: 75px;
  margin-bottom: 20px;
}

@media screen and (max-width: 991px) {
  .purchase .works-btn .btn {
    margin-top: 30px;
  }
}
/* End Purchase Section */
/* Start Offers Section */
.offers .content .heading {
  margin: 0 auto;
  width: 575px;
  overflow-wrap: break-word;  
  word-wrap: break-word; 
  word-break: break-word;
}

@media screen and (max-width: 991px) {
  .offers .content .heading {
    width: 330px;
    overflow-wrap: break-word;  
    word-wrap: break-word; 
    word-break: break-word;
  }
}

.offers .content .heading h1 {
  margin: 0 auto 25px auto;
  font-size: 45px;
  line-height: 1.4;
}

@media screen and (max-width: 991px) {
  .offers .content .heading h1 {
    margin: 0 auto 15px auto;
    font-size: 30px;
    line-height: 1.4;
    /* overflow-wrap: none; */
  }

  .offers .content .heading p.description {
    margin: 10px 0;
    font-size: 20px !important;
  }

  .offers .content .heading p.text {
    font-size: 13px !important;
    line-height: 1.5 !important;
  }

  .offers .content .heading img {
    margin-top: 25px !important;
  }
}

.offers .content .heading p {
  color: #777;
}

.offers .content .heading p.description {
  font-size: 25px;
}

.offers .content .heading p.text {
  font-size: 16px;
  margin-top: 20px;
}

.offers .content .heading img {
  margin-top: 50px;
  width: 100%;
}

.offers .content .options {
  display: flex;
  border-top: 5px solid #e9e9e9;
  margin-top: 40px;
}

@media screen and (max-width: 991px) {
  .offers .content .options {
    display: flex;
    flex-direction: column;
  }
}

.offers .content .options .details {
  transition: 0.3s;
}

.offers .content .options .details h3 {
  font-size: 30px;
  font-weight: 600;
  margin: 15px 0;
}

.offers .content .options .details p {
  opacity: 0.5;
}

.gradient::before {
  content: '';
  transition-delay: 1px;
  position: absolute;
  width: 100%;
  height: 5px;
  background:-webkit-linear-gradient(60deg, var(--first-color), var(--second-color)) !important;
  top: -5px;
  left: 0;
  z-index: 2;
  transition: background 1.2s ease-in-out;
  -webkit-transition: background 1.2s ease-in-out;
}

.purple-text {
  color: var(--first-color);
}
/* End Offers Section */
/* Start Blog Section */
.blog {
  margin-top: 75px;
}

.blog .blog-btn .btn {
  background: -webkit-linear-gradient(60deg, var(--first-color), var(--second-color));
  border: none;
  border-radius: 20px;
  font-size: 20px;
  cursor: pointer;
  padding: 10px 20px;
  margin-top: 75px;
  margin-bottom: 30px;
}

.blog .heading {
  margin-bottom: 50px;
  /* display: flex; */
}

@media screen and (max-width: 991px) {
  .blog .heading,
  .blog .heading .heading-text {
    display: flex;
    flex-direction: column;
  }

  .blog .heading h1 {
    margin-bottom: 25px;
  }

  .blog .heading .heading-text .main,
  .blog .heading .heading-text .text {
    max-width: 100% !important;
  }
}

.blog .heading .heading-text {
  display: flex;
  justify-content: space-between;
}

.blog .heading .heading-text .main,
.blog .heading .heading-text .text {
  max-width: 40%;
}

.blog .heading .heading-text .text {
  font-size: 18px;
  margin-right: 0;
}

.blog .slides {
  display: flex;
  overflow: hidden;
}

@media screen and (max-width: 991px) {
  .blog .slides {
    display: flex;
    flex-direction: column;
  }

  .blog .slides .article {
    margin-bottom: 25px;
    border-bottom: 1px solid rgba(12.94, 14.51, 16.08, 0.5);
    /* border-bottom-color-opacity: 0.5; */
    padding: 15px;
    border-top: 15px;
  }
}

.blog .slides .article {
  cursor: pointer;
}

.blog .slides .article img {
  width: 100%;
}

.blog .slides .article .info .author-date {
  color: var(--first-color);
  margin: 10px 0;
  font-weight: 400;
}

.blog .slides .article .info .title {
  font-size: 19px;
  font-weight: 600;
  position: relative;
  margin-bottom: 15px;
}

.blog .slides .article .info .title i {
  position: absolute;
  top: 7px;
  right: 8px;
  font-size: 19px;
  transform: rotate(-45deg);
}

.blog .slides .article .info .description {
  color: #777;
  font-size: 14px;
}

.blog .content .arrows {
  position: relative;
  margin: 20px 0;
}

.blog .content .arrows .left {
  position: absolute;
  left: 15px;
}

.blog .content .arrows .left,
.blog .content .arrows .right {
  border: 2px solid var(--third-color);
  border-radius: 50%;
  padding: 10px;
  cursor: pointer;
  margin-top: 20px;
}

.blog .content .arrows .right {
  position: absolute;
  left: 70px;
}

@media screen and (max-width: 991px) {
  .blog .content .arrows {
    display: none;
  }
}

.blog .content .gradient-ad {
  display: flex;
  margin-top: 200px;
  background-image: linear-gradient(90deg, var(--first-color), var(--second-color));
  border-radius: 30px;
  padding: 50px 20px 0 50px;
  margin-bottom: 50px;
}

.blog .content .gradient-ad .main-img {
  width: 100%;
}

@media screen and (max-width: 991px) {
  .blog .content .gradient-ad {
    padding: 10px;
    margin-top: 30px;
  }

  .blog .content .gradient-ad .main-img {
    display: none !important;
  }

  .blog .content .gradient-ad .text h1 {
    font-size: 300;
    font-size: 22px;
    margin-bottom: 20px;
    max-width: 100%;
  }

  .blog .content .gradient-ad .text  .logos img {
    width: 38%;
  }
}

.blog .content .gradient-ad .text {
  margin: auto;
}

.blog .content .gradient-ad .text h1 {
  /* opacity: 0.5; */
  color: white;
  line-height: 1.3;
  max-width: 95%;
}

.blog .content .gradient-ad .text h1 span.first {
  opacity: 0.5;
}

.blog .content .gradient-ad .text h1 span.second {
  opacity: 1;
}

.blog .content .gradient-ad .text h1 {
  margin-bottom: 35px;
  font-weight: 600;
}

.blog .content .gradient-ad .text .logos img {
  margin: 0 10px 0 0;
}
/* End Blog Section */
/* Start Footer */
.footer .content .top {
  display: flex;
  position: relative;
  margin-top: 90px;
  margin-bottom: 20px;
}

.footer .content .top::after {
  position: absolute;
  content: "";
  width: 120%;
  height: 1px;
  background-color: var(--third-color);
  bottom: -15px;
  left: -10%;
  /* left: -125px; */
  overflow: hidden;
}

.footer .content .top p {
  margin: 20px 0;
  line-height: 1.7;
}

.footer .content .top ul li {
  cursor: pointer;
}

@media screen and (max-width: 999px) {
  .footer .content .top::after {
    position: absolute;
    content: "";
    width: 120%;
    height: 1px;
    background-color: var(--third-color);
    bottom: -15px;
    left: -10%;
    overflow: hidden;
  }
}

@media screen and (max-width: 961px) {
  .footer .content .top::after {
    position: absolute;
    content: "";
    width: 104%;
    height: 1px;
    background-color: var(--third-color);
    bottom: -15px;
    left: -2%;
    overflow: hidden;
  }
}

@media screen and (max-width: 768px) {
  .footer .content .top::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 1px;
    background-color: var(--third-color);
    bottom: -15px;
    /* left: -5%; */
    left: 0;
    overflow: hidden;
  }
}

@media screen and (max-width: 991px) {
  .footer .content .top,
  .footer .content .top .left,
  .footer .content .top .right {
    display: flex;
    flex-direction: column;
  }

  .footer .content .top .right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center !important;
  }

  .footer .content .top .left,
  .footer .content .top .left ul {
    width: 100% !important;
    display: flex !important;
    flex-direction: column !important;
    justify-content: center;
    align-items: center !important;
  }

  .footer .content .top .left p {
    text-align: center;
    margin-top: 10px;
    border-bottom: 10px;
  }

  .footer .content .top .left ul li {
    margin: 5px 0;
    cursor: pointer;
  }
}

.footer .content .top .left{
  width: 60%;
}

.footer .content .top .left img {
  width: 150px;
}

.footer .content .top .left ul {
  display: flex;
  justify-content: space-between;
}

.footer .content .top .right {
  display: flex;
  flex-direction: column;
}

.footer .content .top .right {
  /* margin-top: 50px; */
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}

.footer .content .top .right img {
  max-width: 70%;
  /* margin-bottom: 15px; */
}

.footer .content .top .right img:last-child {
  margin-top: 20px;
}

.footer .content .top .left ul {
  padding: 0px;
}

.footer .content .top .left p {
  max-width: 70%;
}

@media screen and (max-width:991px) {
  .footer .content .top .left ul {
    border-top: 1px solid rgba(0, 0, 0, .1);
  }
}

.footer .content .top .left ul:not(:last-child) {
  margin-right: 15px;
}

.footer .content .bottom {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 35px;
}

.footer .content .bottom p {
  color: #777;
  font-size: 13px;
}

.footer .content .bottom ul {
  display: flex;
  flex-direction: row;
}

.footer .content .bottom ul li img {
  cursor: pointer;
  /* justify-content: space-between; */
  margin-left: 10px;
  width: 20px;
}

@media screen and (max-width:575px) {
  .footer .content .bottom {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
  }

  .footer .content .bottom ul {
    padding: 0;
  }
}

@media screen and (max-width: 991px) {
  .footer .content .top .left p {
    max-width: 100%;
  }

  .footer .content .top .left ul {
    display: none !important;
  }

  .footer .content .top .right {
    display: flex;
    flex-direction: row !important;
    justify-content: space-around;
  }

  .footer .content .top .right img:last-child {
    margin-top: 0;
  }
}
/* End Footer */
/* Start buy.html */
.buy .content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.btn.btn-primary.do-more-btn {
  /* display: flex; */
  padding: 15px 20px;
  margin: auto;
  color: #eee;
  cursor: pointer;
  border: none;
  background: linear-gradient(90deg, var(--first-color), var(--second-color));
  border-radius: 25px;
  font-size: 19px;
  margin-top: 75px;
}

.buy .content h1 {
  margin-top: 50px;
  margin-bottom: 50px;
  font-weight: 550;
  font-size: 50px;
  line-height: 1.3;
  text-align: center;
  width: 70%;
}

@media screen and (max-width: 991px) {
  .buy .content h1 {
    font-weight: 450;
    font-size: 30px;
    width: 100%;
  }
}

.buy .content h1 span {
  background: -webkit-linear-gradient(60deg, var(--first-color), var(--second-color));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.buy .invoice {
  margin-top: 25px;
  border: 1px solid var(--third-color);
  border-radius: 25px;
  padding: 50px 0;
  margin: 0 100px !important;
}

@media screen and (max-width: 991px) {
  .buy .invoice {
    margin: 0 !important;
    padding: 15px 0;
  }

  .buy .invoice .body ul {
    margin-left: 0 !important;
    padding: 0px;
  }

  .buy .invoice .body ul li {
    margin-right: 10px;
  }
}

.buy .invoice .heading {
  position: relative;
}

.buy .invoice .heading h1 {
  font-size: 35px;
  font-weight: bolder;
  margin-bottom: 15px;
}

.buy .invoice .heading h1::after {
  content: "/month";
  /* position: absolute; */
  font-size: 20px;
  font-weight: lighter;
}

.buy .invoice .heading {
  margin-bottom: 50px;
}

.buy .invoice .heading::after {
  position: absolute;
  content: "";
  width: 60%;
  height: 1px;
  background-color: var(--third-color);
  bottom: -15px;
  left: 20%;
  overflow: hidden;
}

.buy .invoice .body {
  margin-top: 25px;
}

.buy .invoice .body ul {
  margin-bottom: 50px;
}

.buy .invoice .body ul li {
  font-size: 20px;
  margin-bottom: 20px;
}

.buy .invoice .invoice-btn {
  background-color: var(--first-color);
  border: none;
  cursor: pointer;
  color: var(--third-color);
}
/* End buy.html */